{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
         <nav>
            <h2 class="brand">
                Your <span>HOTEL</span>
            </h2>

            <a href="index.html">Home</a>
            <a href="Benefits.html">Benefits</a>
            <a href="#contact">Contact</a>
            <a href="book.html">Book</a>
         </nav>
    </header>
    <section class="amenities">
        <h2>Our Amenities</h2>

        <div class="amenities-box">
            <div class="amenity">🏊 <span>Swimming Pool</span></div>
            <div class="amenity">📚 <span>Library Lounge</span></div>
            <div class="amenity">🍸 <span>Bar & Lounge</span></div>
            <div class="amenity">💇 <span>Salon</span></div>
            <div class="amenity">💆 <span>Spa & Wellness</span></div>
            <div class="amenity">🛏️ <span>Luxury Rooms</span></div>
            <div class="amenity">📶 <span>Free Wi-Fi</span></div>
            <div class="amenity">🍽️ <span>Restaurant</span></div>
            <div class="amenity">🚗 <span>Free Parking</span></div>
            <div class="amenity">🕒 <span>24/7 Room Service</span></div>
        </div>
    </section>

    <footer class="simple-footer">
        <p>© 2026 Your HOTEL. All rights reserved.</p>
    </footer>

    
</body>
</html>